{% extends 'base.html.twig' %}

{% block body %}
    <h1>AllegroComparator</h1>

    <article>
        <h2>VueJS test</h2>

        <div id="demo">
            <form>
                Search <input v-model="searchQuery" />
            </form>
            <app-table
                :data="data"
                :columns="columns"
                :filter-key="searchQuery"
            />
        </div>
    </article>
{% endblock %}
